.row.mt-4
  .col-lg-6.offset-lg-3
    = bootstrap_form_for @transaction, url: accounts_transactions_path do |f|
      %fieldset
        %legend New Transaction
        .mb-3
          %label.form-label{ for: 'account_number' }
            Recepient Account Number
          %input.form-control#account-number{ name: 'account_number',
                                             value: params[:account_number] }                 
        = f.text_field :amount, required: true, label_class: 'required'

      %p.text-center
        = f.submit 'Send money', class: 'btn btn-success'
    .container
    = "Current Balance: #{@account.balance}€"

